/* app css stylesheet */
.hoverwell:hover {
  background-color: #485563;
  cursor: pointer;
}

.container {
  padding-top: 10px;
}

.pointable {
  cursor: pointer;
}

button {
  color: #555;
}

[hidden] {
  display: none !important;
}

.toast-success {
  background-color: #51a351;
}
.toast-error {
  background-color: #bd362f;
}
.toast-info {
  background-color: #2f96b4;
}
.toast-warning {
  background-color: #f89406;
}

select {
  background: black; 
  box-shadow: inset 20px 20px #f00
} 
select option {
  background: black; 
  color: red; 
  box-shadow: inset 20px 20px #f00
} 