<student-nav-bar></student-nav-bar>

<div *ngIf="isDataAvailable == true">

    <div *ngIf="quiz.isTimed == true">
        <button (click)="timerTic()">Start</button>
        <p> Timer: {{timer}}</p>
    </div>
    <div class="col-md-6 col-md-offset-3" *ngIf="isDataAvailable">
        <h2>Respond to the quiz {{quiz.name}}</h2>

        <form name="form" (ngSubmit)="submitResponse()" #f="ngForm" novalidate>
            <div class="form-group">
            </div>
            <ul>
                <h3>Question</h3>
                <li *ngFor="let question of quiz?.questions">
                    <div class="well well-sm">

                        <div class="form-group">
                            <label for="questionText">Question: </label>
                            <p class="questionText">{{question.questionText}}</p>
                        </div>
                        <div class="form-group">
                            <label for="score">Score: </label>
                            <p class="score">{{question.score}}</p>
                        </div>
                        <div class="form-group">
                            <p> Question Options</p>
                            <ul>
                                <li *ngFor="let option of question?.questionOptions">
                                    <div class="form-group">
                                        <label for="questionOption">Question Option: {{option.key}}</label>
                                        <p class="questionOption">{{option.value}}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="form-group">
                            <label for="chosenAnswers">Correct Option/s</label>
                            <input type="text" class="form-control" name="score" [(ngModel)]="question.chosenAnswer" #documentType="ngModel" required
                            />
                        </div>
                        <div class="form-group">
                            <label for="inputField">Input Response</label>
                            <input type="text" class="form-control" name="inputField" [(ngModel)]="question.inputField" #documentType="ngModel" required
                            />
                        </div>
                    </div>
                </li>
            </ul>


            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">Create</button>
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                />
                <a [routerLink]="['/professor']" class="btn btn-link">Cancel</a>
            </div>
        </form>
    </div>
</div>